
/*    -ID(SPECIFIC VALUED LINES) == , == Class(SECTIONS ONLY)== , == Media(IMPORTS) == , == Others-->      <!--ctrl+F Navigate-->
<<<Background Images SRC or URL put into the end scope so it doesnt cover import information */

#WorldCupChamsEight{border-left: 3px solid red;
}

#mainImage{width: 1374px;height: 500px;margin-left: -15px;
    }.container{  border-left: 3px sold red;
}#sectionOneMain{ background-color: gray;
}#notoriusCenterText{ text-align: center;font-size: 25px;margin-left: 85px;
}
#setPopUpToRight{  float: right;
    }.custom-counter {  margin-left: 0; padding-right: 0; list-style-type: none;  margin-left: -18px; margin-right: 10px;
    }.custom-counter a {  counter-increment: step-counter; margin-right: 10px; margin-left: -18px;
    }.custom-counter a::before {  content: counter(step-counter); font-size: 80%;  background-color: rgb(200,200,200);color: black;  font-weight: bold; padding: 3px 8px;  border-radius: 3px; float: left; margin-left: -18px;margin-right: 10px;
}#marginSetLogo{  margin-right: 33px; margin-top:10px;
            }html { box-sizing: border-box;
            } *, *:before, *:after {`box-sizing: inherit;
    }.imageCenterText { position: absolute; font-size: 54px; color: black;  font-family: 'Berkshire Swash'; top: 50%;left: 50%;  transform: translate(-50%, -50%); margin-top: 17px;
    }.column {  float: left;  width: 33.3%; margin-left: 50px; margin-bottom: 16px; padding: 0 8px;
    }.text {  white-space: nowrap;  color: white; font-size: 20px; opacity: 80%;  position: absolute; overflow: hidden;  top: 50%;left: 50%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%);
    }.container:hover .overlay {  width: 100%;  background-color: black;  opacity: 80%;
    }.overlay { position: absolute;  bottom: 0;  left: 0;  right: 0; background-color: white; overflow: hidden;  width: 0; height: 100%;  transition: .5s ease;
            }@media screen and (max-width: 650px) {.column {width: 100%;display: block;}
            }.card {  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   margin-left: 40px;
    }.container {padding: 0 16px;
    }.container::after, .row::after {   content: "";   clear: both;   display: table;
    }.title { color: grey;
    }.button {  border: none; outline: 0;    display: inline-block;   padding: 8px;  color: white;    background-color: #000;   text-align: center;    cursor: pointer;   width: 100%;
    }.button:hover {    background-color: #555;
}#homePageFirstTitle{   width: 45%;   float:right;    text-align: center;   font-family: 'Berkshire Swash';   color: black;   margin-right: 100px;    margin-top: 60px;
}#planetSoccerHomePageTitle{    font-family: 'Berkshire Swash';   color: black;    margin-left: 40px;
}#PremierLeagueTitle{   font-family: 'Berkshire Swash';  font-size: 36px;  text-align: center;
}#PremierLeagueTitle2, #PremierLeagueTitle3, #PremierLeagueTitle4{    font-family: 'Berkshire Swash';   font-size: 36px;   float:left;   width: 25%;    text-align: center;
}#homePageTopSoccerImage{   float: left;    width: 35%padding:1px;    border:1px solid white;   background-color:#ff0;    margin-top: 20px;   margin-left: 65px;    height: 350px;
}#leftColorBorderRed {    color: black;   border-left: 3px solid #333;    border-collapse: separate;    background: #A5A5A5;    float: right;   margin-right: 80px;   width: 45%;
/*Wins,Draws,Loses consist inherited info*/
}#wins {    color: black;   border-left: 3px solid #A42323;   border-collapse: separate;    background: #E34B4B;    float: right;   margin-right: 80px;   width: 25%;   text-align: center;
}#draws {   color: black;   border-left: 3px solid #179B00;   border-collapse: separate;    background: #87EC75;    float: right;   margin-right: 80px;   width: 25%;   text-align: center;
}#loses {   color: black;   border-left: 3px solid #179B00;   border-collapse: separate;    background: #87EC75;    float: right;   margin-right: 80px;   width: 25%;   text-align: center;
    }.callout {   position: fixed;    bottom: 35px;   right: 20px;    margin-left: 20px;    max-width: 750px;   width: 20%;
    }.callout-header {    padding: 25px 15px; font-size: 25px;color: white;height: 20px;  background-image: url(https://www.sciencealert.com/images/2018-11/blackholecamblackhole_600.gif);
    }.callout-container {   padding: 15px;    background-color: #ccc;   color: black;
    }.closebtn {    position: absolute;   top: 5px;   right: 15px;    color: white;   font-size: 30px;cursor: pointer;
    }.closebtn:hover {		color: lightgrey;
		}.sidenav {		max-height: 790px;		overflow: auto;		width: 200px;		position: fixed;		z-index: 1;		top: 0;		left: 0;		background-color: #111;		overflow-x: hidden;		padding-top: 20px;		margin-top: 0%;		color: white;		size: 15px;
		}.sidenav a {		padding: 6px 8px 6px 16px;		text-decoration: none;		font-size: 14px;		color: #818181;		display: block;
		}.sidenav {		font-size: 12px;		padding-top: : 5px;		border: 3px solid white;
		}.main {		margin-left: 160px; /* Same as the width of the sidenav */		font-size: 28px; /* Increased text to enable scrolling */		padding: 0px 10px;
					}@media screen and (max-height: 450px) {
		 .sidenav {padding-top: 15px;
		}.sidenav a {font-size: 18px;}
}body {		margin-left:200px;		background: white;
}ul {		list-style-type: none;		margin-bottom: 15px;		margin: 0;		padding: 0;		overflow: hidden;		background-color: #333;
}li {		float: left;
}li a {		display: inline-block;		color: white;		text-align: center;		padding: 14px 16px;		text-decoration: none;		position: float;
}li a:hover {		background-color: #111;
		}.active {		background-color: red;
		}.container {		position: relative;		font-family: Arial;
}#Liverpoolimg{		height: 300px;  width: 600px;
}#teamtitle{		color: black;		border-collapse: separate;		float: right;		margin-right: 80px;		width: 25%;		text-align: center;
		}.liverpoolInfo{		background-color: gray;
}#Liverpool{		color: black;		border-collapse: separate;		float: right;		margin-right: 80px;		width: 25%;		text-align: center;
		}.text-block {		position: absolute;		bottom: 20px;		right: 20px;		background-color: black;		color: white;		padding-left: 20px;		padding-right: 20px;
}#TitleRosterLiverPool{		float: right; 	font-size: 20px;	text-align: center;		text-shadow: 2px sold gray;
}#leftColorBorderRed2 {    color: black; font-size: 14px; border-left: 3px solid #333;    border-collapse: separate;    background: #A5A5A5;    float: right;   margin-right: 80px;   width: 500px; text-align: left;
}
/*<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="/w3images/team2.jpg" alt="John" style="width:100%">
  <h1>John Doe</h1>
  <p class="title">CEO & Founder, Example</p>
  <p>Harvard University</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>

</body>
</html>

*/
